
body
{
    background-color: #000;
    transition:0.7s ease;
    scroll-behavior: smooth;
}
​
.artist-home{
    display: flex;
    position: absolute;
    top: 500px;
    z-index: 1;
}

.banner{
    width:100%;
    height: 100vh;
    overflow: hidden;   
}

.banner video
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 200px;
    top: -20px;
    left: 0;
    object-fit: cover;
    height:100%;
    width: 100vw; 
}
    /* margin-top: 200px;
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
    height:100%;
    width: 100vw;
    
    justify-content: center;
    
    justify-content: center; */


nav{
    display:flex;
    background-color: black;
    width: 100%;
    height: 100%;
}

  .banner ul
{
    /* display: flex;
    flex-direction: row-reverse;
    justify-content: right;

    margin-left: 30%; 
    font-family: "Open Sans", sans-serif; */
    
    display: flex; 
        flex-direction: row-reverse;
        /* margin-right: 100px; */
        margin-left: 50%;    
        margin-top: 20px;
        z-index:0;
        text-align: right;
        font-family: 'Open Sans', sans-serif; 
        color: rgb(255, 9, 181)
}  
​

ul li{
    font-size: 60pt;
}
.banner li
{
    
    list-style: none;
    margin: 15px 5px 10px;
    font-size: 18pt;
    letter-spacing: 8px;
    padding: 10px; 
}
.bkg
{
    background-color: blueviolet;
}
.banner .logo-text
{
    display: block;
    margin-block-start: 30px;
    margin-left: 50px;
    color: white;
    letter-spacing: 8px;
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;
}

img{
    width: 200px;
    height: 200px;
}
.section
{
    max-width: 960px;
    margin: 0 auto;
    padding: 6% 2%;
}
.right-grid
{
    margin-left: 300px;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
.right-grid::after
{
    clear:both;
}
.right-grid::after, .box::before
{
content: "";
display: table;
}
.right-grid li
{
    width:328px;
    height: 328px;
    display: inline-block;
    margin: 20px;
}
.box
{
    width:100%;
    height: 100%;
    position: center;
    cursor:pointer;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    transform: 0.3s ease-in-out;
}
.box:hover
{
    transform: scale(1.05);
}
.grid-img1
{
    
    background-image: 
    url(../Images/yellow.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid-img2
{
    background-image:
    url(../Images/suzy.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
​
.grid-img3
{
    background-image:
    url(../luis.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
​
.grid-img4
{
    background-image:
    url(../plane.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.section::after
{
    margin: 0 0;
}
.left-grid 
{
    text-align: left;
    color: white;
    letter-spacing: 8px;
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;  
}
.footer
{
    width: 100%;
    font-display: #000;
    position: relative;
    display: flex;
  }
  
  .footer .footer-content
  {
    flex: 1;
    height: 250px;
    width: 100%;
  }
​
  .footer .logo-text
  {
    letter-spacing: 8px;
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin:40px;
  }
​
  .footer ul
  {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 100px;    
    margin-top: 20px;
    z-index:0;
    text-align: right;
    font-family: 'Open Sans', sans-serif; 
    color: rgb(255, 9, 181)
  }

.footer li{
    display: flex;
    list-style: none;
    align-items: right;
    margin: 15px 40px 10px;
    font-size: 32px;
    letter-spacing: 8px;
}