@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    background-color: black;
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: 'Darker Grotesque', sans-serif;
}

body {
    transition:0.7s ease;
    scroll-behavior: smooth;
}

.banner {
    width:100%;
    height: 100vh;
    overflow: hidden;   
}

nav {
    display:flex;
    width: 100%;
    height: 200px;
}

.banner .logo-text {
    display: block;
    margin-block-start: 30px;
    margin-left: 25px;
    margin-top: 10px;
    color: white;
    letter-spacing: 8px;
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;
}
 
.banner ul {
    display: flex; 
    margin-left: 50%;    
    margin-top: 25px;
    text-align: right;
    font-family: 'Open Sans', sans-serif; 
}

.banner ul li {
    font-size: 30pt;
    margin-right: 30px;
    color: rgb(255, 9, 181);
}

.banner video {
    display:flex;
    position: absolute;
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-top: -80px;

}

.artist-home {
    font-size: 30pt;
    margin: -10px 0px 30px 25px;
}

.artist-div {
    display: flex;
    
}

.artists-image {
    
    width: 200px;
    height: 200px;
}