nav .nav-2 {
  display: flex;
  width: 100%;
  height: 200px;
}

.banner2 .logo-text2 {
  display: block;
  margin-block-start: 30px;
  margin-left: 25px;
  margin-top: 10px;
  color: white;
  letter-spacing: 8px;
  font-family: "Darker Grotesque", sans-serif;
  text-transform: uppercase;
}

.banner2 ul {
  display: flex;
  margin-left: 75%;
  margin-top: 25px;
  text-align: right;
  font-family: "Open Sans", sans-serif;
}

.banner2 ul li {
  font-size: 30pt;
  margin-right: 30px;
  color: rgb(255, 9, 181);
}

.album-h6 {
  display: flex;
  justify-content: center;
  font-size: 120pt;
  margin-top: 50px;
}

.album-h1 {
  font-size: 50pt;
  margin: 115px 0px 30px 25px;
  text-transform: uppercase;
}

.album-h3 {
  font-size: 35pt;
  margin-left: 50px;
  margin-bottom: 5px;
}

.album-p {
  font-size: 25pt;
  margin-top: 0px;
  margin-left: 75px;
  color: rgb(255, 9, 181);
}

.albumTitle-h3 {
  font-size: 35pt;
  margin-left: 50px;
  margin-bottom: 5px;
}

.album-image2 {
  width: 300px;
  height: 300px;
  margin-left: 50px;
}

.album-title-div2 {
  font-size: 12pt;
  margin-left: 25px;
  cursor: pointer;
}

.line {
  width: 200px;
  height: 1px;
  background-color: rgb(255, 9, 181);
  margin: 5px;
}

.line2 {
  width: 200px;
  height: 1px;
  background-color: rgb(255, 9, 181);
  margin: 5px;
}

.create-song {
  margin: 300px 0px 10px 25px;
  font-size: 50pt;
  text-transform: uppercase;
}

.add-song-form {
  margin-left: 25px;
}

.song__form-songTitle,
.song__form-songDuration,
.song__form-songLink {
  margin-right: 5px;
}

.song__form-submit {
  background-color: rgb(255, 9, 181);
  color: black;
  text-transform: uppercase;
  font-size: 11pt;
  border: none;
  outline: none;
  cursor: pointer;
}

.song__form-delete {
  width: auto;
  height: auto;
  text-align: center;
  margin: 50px 0px 0px 25px;
  text-transform: uppercase;
  font-size: 15pt;
  background-color: rgb(255, 9, 181);
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 300px;
}

footer {
  margin-top: 300px;
}

footer .footer-content {
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

footer .logo-text {
  display: block;
  margin-block-start: 30px;
  margin-left: 25px;
  margin-top: 10px;
  color: white;
  letter-spacing: 8px;
  font-family: "Darker Grotesque", sans-serif;
  text-transform: uppercase;
}

footer .footerlist {
  display: flex;
  margin-left: 70%;
  margin-top: 25px;
  text-align: right;
  font-family: "Open Sans", sans-serif;
}

footer ul li {
  font-size: 30pt;
  margin-right: 30px;
}
