@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    background-color: black;
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: 'Darker Grotesque', sans-serif;
}